<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  	<style type="text/css">
  		body
  		{
  		background-image: url("https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif");
  	}
  	a
  	{
  		color: white;
  		position: absolute;
  		top: 500px;
  		left: 550px;
  		text-decoration: none;
  		font-size: 45px;
  		font-family: 'Ubuntu', sans-serif;
  	}
  	a:hover 
  	{
  		color: #40c98a;
  	}
  	</style>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,500&display=swap" rel="stylesheet">
  </head>
  <body>
  	<img src="https://media4.giphy.com/media/3o6ZtgGKb4LTS0ypWw/giphy.webp?cid=dda24d50b8tsa689hud4h9lmr3mn0gj5rtonyre4obwua9xm&rid=giphy.webp" style="position: absolute; left: 425px; top: 100px; width: 40%">
  	<a href = "http://localhost:3000/auth/google"> Please login to continue. </a>
  </body>
</html>
